.bg-form{
  background-image: url("presidency uni3.jpg");
  display: flex;
  background-size:cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  align-items: center;
  justify-content: center;
} 
.form-div{
  width: 470px;
  height: 600px;
  padding: 55px 35px 35px 35px;
  
  background-color:rgba(5, 5, 5, 0.767);
  box-shadow: 13px 13px 20px rgba(0, 0, 0, 0.315);

}
.info{
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;

}
.logo{
  background: url("presidency logo.png");
  background-size: cover;
  background-color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: -30px;
  box-shadow: 0px 0px 2px rgb(0, 0, 0) ,
  0px 0px 5px white,
  3px 3px 10px rgba(255, 255, 255, 0.61)
  

}
.title{
  text-align: center;
  font-size: 22px;
  padding-top: 5px;
  letter-spacing: 0.3px;
  color: aliceblue;
  transition: all 0.3s ease;
}
.csv_img_msg{
  color:rgb(253, 253, 140);
  height: fit-content;
  font-size: 11px;
  text-transform: none;
  position: relative;
  bottom: -9px;
  height: fit-content;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

/*CSS for company name and ctc*/
.wrapper {
  position: relative;
  height: 100%;
  width:100%;
  border: none;
  padding: 10px 5px;
  margin-top: 0px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  color:aliceblue;
  display: flex;
}

.wrapper.companyDetail{
  width:100%;
  position: relative; 
}
.wrapper .companyDetail input{
  height: 100%;
  width:95%;
  border:none;
  background: none;
  font-size: 15px;
  color: aliceblue;
  padding: 0px 15px;
  border-bottom: 2px solid silver;
  outline: none;
}
.wrapper #cName-div label{
  position:absolute;
  bottom: 20px;
  left: 5px;
  font-size: 15px;
  color:rgb(227, 232, 236);
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #ctc-div label{
  position:absolute;
  bottom: 20px;
  left: 50%;
  font-size: 15px;
  color:rgb(227, 232, 236);
  pointer-events: none;
  transition: all 0.3s ease;
}

#cName-div input:focus~label, #ctc-div input:focus~label,
#cName-div input:valid~label,#ctc-div input:valid~label{
  transform: translateY(-25px);
  font-size:10px;
  background:none;
  color:aqua;
  
}
/*End of input text css*/

.companyLogo{
  margin-top: 20px;
  margin-left: 7%;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 87%;
  box-shadow: inset 6px 6px 6px rgb(255, 255, 255),
  inset -6px -6px -6px rgb(255, 255, 255); 
  padding: 5px 15px;
  border: 2px solid rgba(245, 255, 250, 0.63);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
  color: black;

}

.browse1,.browse2{
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: inset 6px 6px 6px rgb(255, 255, 255),
  inset -6px -6px -6px rgb(255, 255, 255); 
  padding: 5px 15px;
  border: 2px solid rgba(245, 255, 250, 0.63);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: black;

}
.browse1,.browse2,.companyLogo,.label:active{
  color: whitesmoke;
}


#custombut1,#custombut2,#companybut1{
  color:darkslategray;
  cursor: pointer;
  padding: 5px 15px;
}
#custombut1:hover{
  background-color: mintcream;
  color: black;
}
#custombut2:hover{
  background-color:mintcream ;
  color: black;
}
#companybut1:hover{
  background-color:mintcream ;
  color: black;
}

#customtxt1,#customtxt2,#customtxt3{
  margin-left: 10px;
  font-family: sans-serif;
  font-size:smaller;
  color: mintcream;
}



.submit{
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  margin:auto;
  margin-top: 20px;
  padding: 8px 26px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato",sans-serif;
  color:white;
  text-align: center;
  border: 2px solid rgb(85, 197, 201);
  background:none;
  
  transition: 0.5s;
}
.submit:hover{
  background-color: rgb(0, 255, 242);
  color: black;
}
.submit:active{
  background-color: cyan;
}
.mail{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: inset 6px 6px 6px rgb(255, 255, 255),
  inset -6px -6px -6px rgb(255, 255, 255); 
  padding: 2px 15px;
  border: 0px solid rgba(245, 255, 250, 0.63);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: black;
  display: none;
  background-color: #92A8D1;
  
  }
  .mail:active{
  color: whitesmoke;
  }
  #mailbut1{
  color:darkslategray;
  cursor: pointer;
  padding: 8px 20px;
  }
  #mailbut1:active{
  background-color: whitesmoke;
  }
  #mailbut1:hover{
  background-color: lightslategray;
  color: white;
  }
  
  a{
  text-decoration: none;
  }
  
  /*CSS for displaying cards containing the student data*/
  .card {
  display:inline-block;
  padding: 5px;
  margin: 15px;
  text-align: center;
  height:290px;
   }
   .card img{
   width: 200px;
   height: 260px;
   }
   
   .card p {
  font-size: 20px;
  font-weight: 600;
   }
  .displayCSV{
   margin: 0 auto; 
  display: table;
  text-align:center; 
  }